body {
    background: url("https://media.discordapp.net/attachments/1228514685964259518/1228558417602543757/wallpaper.png?ex=662c7b30&is=661a0630&hm=c82bba37492465dd668bafb00d800d498d8e88393f048179d9c48b8d3a18bee5&=&format=webp&quality=lossless&width=1644&height=1010");
    background-size: cover; /* covers background with image */

    color: white; /* Set text color to white */
    font-family: Arial, sans-serif; /* Set font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Hide overflow */
}
.content {
    max-width: 100%; /* Set maximum width for content */
    height: 100%;
    margin: 0 auto; /* Center content horizontally */
    padding: 20px; /* Add padding around content */
}

.canvas-container {
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* filler sizes for width and height */
    width: 1280px;
    height: 720px;
}

/* Additional CSS for styling content */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

